<h1>Create Recipe</h1>
<div><%= form_for @recipe do |f| %>
  <%= f.label :recipe_title %>
  <%= f.text_field :title, id: "recipe_title" %></div>
  Ingredients:
  <%= f.fields_for :ingredients do |i| %>
    <div><%= i.label :name %>
    <%= i.text_field :name %>
    <%= i.label :quantity %>
    <%= i.text_field :quantity %></div>
  <% end %>
  <%= f.submit %>
<% end %>
